html,body{
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  overflow:hidden;
  background:#eee url('https://i.imgur.com/m8ztnbH.jpg') no-repeat center;
  background:#eee;
  background-size:cover;
}

header{
  z-index:20000;
  display:flex;
  height:22px;
  background:#222222;
  font-size:14px;
  color:white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
  transform:translateY(-100%);
  transition:1000ms;
}

.header-space{
  flex:1;
}

.menu{
  display:flex;
  align-items:center;
  height:100%;
}

.menu div{
  display:none;
}

.menu a{
  display:block;
  padding:2px 22px;
  white-space: nowrap;
  text-decoration:none;
  font-weight:300;
  color:white;
  cursor:default;
}

.menu a:hover{
  background:#0664E0;
}

.menu img{
  max-height:14px;
  max-width:28px;
}

.menu-static{
  margin-left:10px;
}

.menu .navbar, .menu .navbar-option{
  position:relative;
  display:flex;
  align-items:center;
  height:100%;
}

.menu .navbar-option{
  padding:0 10px;
}

.menu .navbar-option-first{
  font-weight:500;
}

.menu .navbar-submenu{
  z-index:21000;
  position:absolute;
  top:100%;
  left:0;
  background:#373737;
  border-radius:0 0 4px 4px;
}

.menu .navbar-section{
  display:block;
  padding:5px 0;
  border-top: 2px solid #5A5A5A;
}

.menu .navbar-section:first-child{
  border-top: 0px solid #5A5A5A;
}

.desktop{
  height:calc(100vh - 22px);
  position:relative;
}

.cover, .mobile-warning{
  z-index:100000;
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  padding:10%;
  text-align:center;
  font-size:5vmin;
  font-weight:100;
  color:white;
  background:#2196F3;
  transition:600ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.window{
  box-sizing: border-box;
  overflow:hidden;
  display:none;
  position:absolute !important;
  width:600px;
  height:400px;
  background:white;
  border:1px solid #C6C6C6;
  border-radius:7px;
  box-shadow:0 15px 60px rgba(0,0,0,0.2);
  font-size:0;
}

.foreground{
  border:1px solid #D6D6D6;
  box-shadow:0 20px 80px rgba(0,0,0,0.5);
}

.window-minimized{
  height:58px !important;
  width:80px !important;
  top:calc(100% - 71px) !important;
  cursor:pointer;
  border:1px solid transparent;
  border-radius:0px;
  box-shadow:0 20px 80px rgba(0,0,0,0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.window-minimized > .window-header{
  opacity:0;
  height:0;
  pointer-events:none;
}

.window-minimized > .ui-resizable-handle{
  display:none;
}

.window-minimized > .window-content{
  height:100%;
  overflow:hidden;
  pointer-events: none;
}

.fixed-size > .window-content{
  overflow:hidden;
}

.window-header{
  display:flex;
  height:20px;
  background:#F6F6F6;
  margin-top:0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.foreground > .window-header{
  background: linear-gradient(to bottom, #E6E6E6, #E1E1E1);;
}

.window-header-buttons{
  margin:4px 8px;
  font-size:0;
}

.window-header-button{
  position:relative;
  display:inline-block;
  box-sizing: border-box;
  height:12px;
  width:12px;
  border-radius:100%;
  border:1px solid rgba(0,0,0,0.1);
  background:grey;
  cursor:pointer;
  transition:600ms;
  transform-origin: top left;
}

.window-header-button:before{
  display:none;
}

.window-header-button:after{
  display:none;
}

.window-header-buttons:hover > .window-header-button:before{
  display:initial;
}

.window-header-buttons:hover > .window-header-button:after{
  display:initial;
}

.button-close{
  margin-right:8px;
  background:#FD5858;
}

.button-minimize{
  margin-right:8px;
  background:#FEBE30;
}

.button-fullscreen{
  //background:#36CD40;
}

.button-close:before{
  position:absolute;
  content:'';
  top:50%;
  left:10%;
  width:80%;
  height:2px;
  background:#6A3333;
  transform:translateY(-50%)rotate(-45deg);
}

.button-close:after{
  position:absolute;
  content:'';
  top:50%;
  left:10%;
  width:80%;
  height:2px;
  background:#6A3333;
  transform:translateY(-50%)rotate(45deg);
}

.button-minimize:before{
  position:absolute;
  content:'';
  top:50%;
  left:10%;
  width:80%;
  height:2px;
  background:#6A5526;
  transform:translateY(-50%);
}

.button-fullscreen:before{
  position:absolute;
  content:'';
  top:50%;
  left:50%;
  width:0;
  height:0;
  transform:translateX(calc(-50% - 2px))translateY(calc(-50% + 2px))rotate(45deg);
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-top: 3.5px solid rgba(0,0,0,0.5);
}

.button-fullscreen:after{
  position:absolute;
  content:'';
  top:50%;
  left:50%;
  width:0;
  height:0;
  transform:translateX(calc(-50% + 2px))translateY(calc(-50% - 2px))rotate(45deg);
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-bottom: 3.5px solid rgba(0,0,0,0.5);
}

.window-header-title{
  font-size:14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow:1;
  cursor:default;
  overflow: hidden;
}

.window-content{
  height:calc(100% - 18px);
  font-size:16px;
  transition:600ms;
}

.ui-icon{
  display:none !important;
}

.window-content .navbar{
  display:none;
}

.window-content .title{
  position:relative;
  display:inline-block;
}

.window-content .title:after{
  display:none;                 /* temporary */
  position:absolute;
  content:'';
  bottom:-10px;
  left:-20%;
  width:120%;
  height:5px;
  transform:skew(-35deg);
}

footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:80px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform:translateY(100%);
  transition:1000ms;
}

.dock-background{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  height:100%;
  padding:0 5px;
}

.dock{
  z-index:10000;
  display: flex;
  position:absolute;
  padding:0 6px;
  left:50%;
  transform:translateX(-50%);
  height:100%;
  background:#4C4C4C;
  border-radius:8px 8px 0 0;
  border:1px solid #333333;
  transform:translateX(-50%);
  transition:600ms;
}

.dock-separator{
  position:absolute;
  visibility: hidden;
  opacity:0;
  width:1px;
  height:58px;
  top:8px;
  left:0;
  background:rgba(255,255,255,0.33);
  transition:600ms;
}

.dock-item{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:8px 6px 0 6px;
  height:58px;
  width:58px;
  border-radius:100%;
  background-size:cover !important;
  cursor:pointer;
}

.dock-item:before{
  display:none;
  position:absolute;
  content:'';
  left:50%;
  transform:translateX(-50%);
  bottom:-11px;
  width:4px;
  height:4px;
  background:rgba(255,255,255,0.75);
  border-radius:100%;
  pointer-events:none;
}

.show-indicator:before{
  display:initial;
}

.full-name{
  position:absolute;
  top:-51px;
  background:#252525;
  padding:4px 14px;
  border-radius:4px;
  font-size:14px;
  visibility: hidden;
  opacity:0;
  transition:75ms;
  pointer-events: none;
  color:white;
}

.full-name:after{
  position:absolute;
  content:'';
  bottom:-8px;
  left:50%;
  transform:translateX(-50%);
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #252525;
}

.dock-item:hover > .full-name{
  visibility: visible;
  opacity:1;
}

.bounce-1{
  animation-name:bounce-1;
  animation-duration:0.4s;
}
.bounce-2{
  animation-name:bounce-2;
  animation-duration:0.3s;
  animation-timing-function: ease-in;
}

.red:after{background:#F44336;}
.pink:after{background:#E91E63;}
.purple:after{background:#9C27B0;}
.deeppurple:after{background:#673AB7;}
.indigo:after{background:#3F51B5;}
.lightblue:after{background:#03A9F4;}
.cyan:after{background:#00BCD4;}
.teal:after{background:#009688;}
.green:after{background:#4CAF50;}
.lightgreen:after{background:#8BC34A;}
.lime:after{background:#CDDC39;}
.yellow:after{background:#FFEB3B;}
.amber:after{background:#FFC107;}
.orange:after{background:#FF9800;}
.deeporange:after{background:#FF5722;}
.brown:after{background:#795548;}
.grey:after{background:#9E9E9E;}
.bluegrey:after{background:#607D8B;}

@keyframes bounce-1{
  0%{transform:translateY(0)}
  100%{transform:translateY(-30%)}
}
@keyframes bounce-2{
  0%{transform:translateY(-30%)}
  100%{transform:translateY(0)}
}

@media only screen and (min-width : 800px) {
  .mobile-warning{
    display:none;
  }
}