html,body{
  margin:0;
  font-family: 'Roboto', sans-serif;
  overflow:hidden;
  background:#eee url('https://i.imgur.com/m8ztnbH.jpg') no-repeat center;
  background:#eee;
  background-size:cover;
}

.header{
  height:25px;
  background:rgba(0,0,0,0.5);
}

.desktop{
  height:calc(100vh - 25px);
  position:relative;
}

.cover{
  z-index:100000;
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  font-size:4vmax;
  font-weight:100;
  color:white;
  background:#2196F3;
  transition:600ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.window{
  box-sizing: border-box;
  overflow:hidden;
  display:none;
  position:absolute !important;
  width:600px;
  height:400px;
  background:white;
  border:1px solid #C6C6C6;
  border-radius:7px;
  box-shadow:0 15px 60px rgba(0,0,0,0.2);
  font-size:0;
}

.foreground{
  border:1px solid #D6D6D6;
  box-shadow:0 20px 80px rgba(0,0,0,0.5);
}

.window-minimized{
  height:50px !important;
  width:80px !important;
  top:calc(100% - 65px) !important;
  cursor:pointer;
  border:1px solid transparent;
  border-radius:0px;
  box-shadow:0 20px 80px rgba(0,0,0,0);
}

.window-minimized > .window-header{
  opacity:0;
  height:0;
  pointer-events:none;
}

.window-minimized > .ui-resizable-handle{
  display:none;
}

.window-minimized > .window-content{
  height:100%;
  overflow:hidden;
  pointer-events: none;
}

.fixed-size > .window-content{
  overflow:hidden;
}

.window-header{
  display:flex;
  height:20px;
  background:#F6F6F6;
  margin-top:0;
}

.foreground > .window-header{
  background: linear-gradient(to bottom, #E6E6E6, #E1E1E1);;
}

.window-header-buttons{
  margin:4px 8px;
  font-size:0;
}

.window-header-button{
  position:relative;
  display:inline-block;
  box-sizing: border-box;
  height:12px;
  width:12px;
  border-radius:100%;
  border:1px solid rgba(0,0,0,0.1);
  background:grey;
  cursor:pointer;
  transition:600ms;
  transform-origin: top left;
}

.window-header-button:before{
  display:none;
}

.window-header-button:after{
  display:none;
}

.window-header-buttons:hover > .window-header-button:before{
  display:initial;
}

.window-header-buttons:hover > .window-header-button:after{
  display:initial;
}

.button-close{
  margin-right:8px;
  background:#FD5858;
}

.button-minimize{
  margin-right:8px;
  background:#FEBE30;
}

.button-fullscreen{
  //background:#36CD40;
}

.button-close:before{
  position:absolute;
  content:'';
  top:50%;
  left:10%;
  width:80%;
  height:2px;
  background:#6A3333;
  transform:translateY(-50%)rotate(-45deg);
}

.button-close:after{
  position:absolute;
  content:'';
  top:50%;
  left:10%;
  width:80%;
  height:2px;
  background:#6A3333;
  transform:translateY(-50%)rotate(45deg);
}

.button-minimize:before{
  position:absolute;
  content:'';
  top:50%;
  left:10%;
  width:80%;
  height:2px;
  background:#6A5526;
  transform:translateY(-50%);
}

.button-fullscreen:before{
  position:absolute;
  content:'';
  top:50%;
  left:50%;
  width:0;
  height:0;
  transform:translateX(calc(-50% - 2px))translateY(calc(-50% + 2px))rotate(45deg);
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-top: 3.5px solid rgba(0,0,0,0.5);
}

.button-fullscreen:after{
  position:absolute;
  content:'';
  top:50%;
  left:50%;
  width:0;
  height:0;
  transform:translateX(calc(-50% + 2px))translateY(calc(-50% - 2px))rotate(45deg);
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-bottom: 3.5px solid rgba(0,0,0,0.5);
}

.window-header-title{
  font-size:14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow:1;
  cursor:default;
  overflow: hidden;
}

.window-content{
  height:calc(100% - 18px);
  font-size:16px;
  transition:600ms;
}

.ui-icon{
  display:none !important;
}

.footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:75px;
}

.dock-background{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  height:100%;
  padding:0 5px;
}

.dock{
  z-index:10000;
  display: flex;
  position:absolute;
  padding:0 5px;
  left:50%;
  transform:translateX(-50%);
  height:100%;
  background:rgba(0,0,0,0.5);
  border-radius:8px 8px 0 0;
  transition:600ms;
}

.dock-item{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px 5px 0 5px;
  height:50px;
  width:50px;
  border-radius:100%;
  background:#009688;
  cursor:pointer;
}

.dock-item:after{
  display:none;
  position:absolute;
  content:'';
  left:50%;
  transform:translateX(-50%);
  bottom:-12px;
  width:4px;
  height:4px;
  background:rgba(255,255,255,0.75);
  border-radius:100%;
}

.show-indicator:after{
  display:initial;
}

.full-name{
  position:absolute;
  top:-40px;
  background:rgba(0,0,0,0.5);
  padding:2px 4px;
  border-radius:2px;
  visibility: hidden;
  opacity:0;
  transition:75ms;
  pointer-events: none;
  color:white;
}

.full-name:after{
  position:absolute;
  content:'';
  bottom:-5px;
  left:50%;
  transform:translateX(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0,0,0,0.5);
}

.dock-item:hover > .full-name{
  visibility: visible;
  opacity:1;
}

.bounce{
  animation-name:bounce;
  animation-duration:1.5s;
}

.bounce-down{
  animation-name:bounce-down;
  animation-duration:1.5s;
}

@keyframes bounce{
  0%{transform:translateY(0)}
  30%{transform:translateY(-5px)}
  50%{transform:translateY(0)}
  80%{transform:translateY(-5px)}
  100%{transform:translateY(0)}
}

@keyframes bounce-down{
  0%{transform:translateY(0)}
  30%{transform:translateY(5px)}
  50%{transform:translateY(0)}
  80%{transform:translateY(5px)}
  100%{transform:translateY(0)}
}